
<app-header></app-header>
    <ul>
        <li><a routerLink="/frontend">Frontend Development</a></li>
        <li><a routerLink="/backend">Backend Development</a></li>
        <li><a routerLink="/mean">MEAN Stack Development</a></li>
        <li><a routerLink="/mern">MERN Stack Development</a></li>
        <li><a routerLink="/fullstack">FullStack Development</a></li>
        <li style="float:left"><a routerLink="/allcourses" class="active" href="#about">All Courses</a></li>
      </ul>
<router-outlet></router-outlet>
